.resetpassword{
	width: 100%;
	height: calc(100vh - 88rpx);
	padding: 50rpx;
	box-sizing: border-box;
	background-color: #F1ECE7;
}
.tel{
		box-shadow: 0 0 33px 0 #E8E5E2;
		width: 90%;
		height: 100rpx;
		box-sizing: border-box;
		background-color: #f4efe8;
		border-radius: 50rpx;
		display: flex;
		align-items: center;
		padding-left:30rpx ;
		margin: 100rpx auto 0px;
		
	}
	.password{
		margin: 60rpx auto 100rpx;
		.getcode{
			font-size: 20rpx;
		}
		.show{
			height: 30rpx;
			width: 50rpx;
			position: relative;
			.line{
				position: absolute;
				top: -7rpx;
				right: -57rpx;
				height: 50rpx;
				width: 2rpx;
				background-color: #323232;
				transform: rotate(-45deg);
			}
		}
		image{
			height: 30rpx;
			width: 50rpx;
			margin-left: 80rpx;
		}
		
		
	}
	.loginBtn{
		width: 80%;
		height: 100rpx;
		background-color:#354E44;
		margin: 0 auto;
		line-height: 100rpx;
		text-align: center;
		border-radius: 60rpx;
		font-size: 38rpx;
		color: #FFFFFF;
		
	}
